<section class="col-md-12 text-align-left row">
  <div class="container">
    <h1>Edit Shop</h1>
    <h4>Current name: <%= @shop.name %> </h4>
    
    <%= form_for @shop, url: platform_admin_shop_path(@shop.id), method: :put do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <%= f.submit "Save", class: "btn btn-primary col-xs-12"  %>
    <% end %>
  </div>
</section>
