<div class="row text-left">
  <%= render partial: "partials/sidebar" %>

  <div class="col-md-6 col-xs-12">
    <h1>Edit My Profile</h1>
    <h4>Current username: <%= @user.username %> </h4>

    <%= form_for @user do |f| %>
      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: "form-control" %>
      </div>

      <h4><%= f.submit "Save", class: "btn btn-primary col-xs-12"  %></h4>
    <% end %>
  </div>
</div>
