<div class="shop-admins container">
  <h1>Current Shop Admins</h1>
  <div id="admin-list">
    <div class="admin">
      <table class="table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Shop</th>
            <th>Shop ID</th>
          </tr>
        </thead>
      <% @shop_admins.each do |user| %>
        <tbody>
          <tr>
            <td> <%= user.username %> </td>
            <td> <%= user.email %> </td>
            <td> <%= user.shop.name %> </td>
            <td> <%= user.shop_id %> </td>
          </tr>
        </tbody>
      <% end %>
      </table>
    </div>
  </div>

  <div class="add-admin">
    <h3>Add business admin</h3>
    <%= form_for(@user, url: platform_admin_manage_admins_path, method: :put) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :shop_id %>
        <%= f.text_field :shop_id, class: "form-control" %>
      </div>

      <%= f.submit "Add business admin", class: "btn btn-primary col-xs-12" %>
    <% end %>
  </div>

  <div class="remove-admin">
    <h3>Remove business admin</h3>
    <%= form_for(@user, url: platform_admin_manage_admins_path, method: :delete) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
      </div>

      <%= f.submit "Remove business admin", class: "btn btn-primary col-xs-12" %>
    <% end %>
  </div>
</div>
