<h1 class="text-center">.your_shopping_cart</h1>
​
<div class="container">
  <% if @cart_items.empty? %>
    <h2>No items in cart!</h2>
  <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Image</th>
          <th>Title and Description</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |item| %>
          <div id="item-info">
            <tr>
              <td><%= image_tag item.image, width: 80 %></td>
              <td><%= item.title %>
              <p><%= item.description %></p></td>
              <td><%= format_price(item.price) %></td>
              <td>
                <%= form_tag(cart_path(id: item.id), method: :patch) do %>
                  <p><%= select item.id, item.quantity, (1..15).to_a, selected: item.quantity %></p>
                  <p><%= submit_tag "Update Quantity" %></p>
                <% end %>
                <p><%= link_to "Remove", cart_path(id: item.id), method: :delete %></p>
              </td>
              <td><%= number_to_currency(item.subtotal) %></td>
            </tr>
          </div>
        <% end %>
        <tr>
          <td colspan=5 align=right>
            <p>Total: $<%= @cart.total_price / 100 %>.00</p>
            <p><%= link_to "Checkout", orders_path, method: :post %></p>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
