<%= form_tag admin_update_role_path do %>
Username: <%= text_field_tag "Username"%>
<% if platform_admin? %>
<%= options_for_select(@shop_ids) %>
<% end %>
<%= submit_tag "Promote/Demote" %>
<% end %>
<h1>Current Shop Admins</h1>
<% @admins.each do |user| %>
<%binding.pry %>
  <%= user.username %>
<% end %>