<div class="container text-center">
    <h1> <%= current_user.shop.name %> </h1>
  <h2>Manage My Shop</h2>
  <div class="col-md-6">
    <h3><%= link_to "Edit Shop Name", edit_shop_path(current_user.shop), class: "btn btn-primary btn-large" %></h3>
  </div>
  <div class="col-md-6">
    <h3><%= link_to "Add new item", new_admin_item_path, class: "btn btn-primary btn-large" %></h3>
  </div>
  <div class="col-md-6">
    <h3><%= link_to "View all bids", admin_bids_path, class: "btn btn-primary btn-large" %></h3>
  </div>
  <div class="text-center hero">
    <div class="col-md-6">
      <h3><%= link_to "View all orders", admin_orders_path, class: "btn btn-primary btn-large" %></h3>
    </div>
  </div>
</div>
